__pycache__/

your_results/

data/*
!data/base.tar.gz
!data/noisy_tr.tar.gz
!data/id.tar.gz
!data/ood.tar.gz

analysis/*tar.gz

*pkl
*.pkl.gz

*.pt
*.pth
**/checkpoint/*

*/*.ipynb_checkpoints/

*/*.python-version
